node_modules

.next
app/.next
node_modules


.next
app/.next
node_modules


.next
app/.next
node_modules


.next
app/.next
node_modules


.next
app/.next
node_modules


.next
app/.next
node_modules


.next
app/.next
out
node_modules

/.vs/Biarmy2.1.slnx/FileContentIndex/0fd928bf-2fbb-40bd-9bf4-6c36a63218e2.vsidx
/.vs/Biarmy2.1.slnx/FileContentIndex/165ef190-ef22-4b10-89a2-8f422c9eb641.vsidx
/.vs/Biarmy2.1.slnx/FileContentIndex
